
@media (max-width: 600px) {
    .logo {
            font-size: 5vw;
        }
    
        .logo-desc {
            font-size: 2vw;
        }

    .hero {
        flex-direction: column;
        justify-content: center;
    }

    .hero-media {
        display: none;
    }

    .hero-content h1{
        font-size: 15vw;
        margin-top: 45vh;
        
    }

    .hero-content p {
        font-size: 8vw;
        font-weight: 600;
        margin-top: 5vh;
    }

   
}