@media(max-width: 850px) {

    .menu-item {
            font-size: 1.8vh;
            font-weight: 100;
        }
    /*
    #menu-btn {
            display: block;
            margin-top: 0;
        }
    .nav-menu {
            background-color: var(--black);
            color: var(--white);
            width: 100%;
            flex-direction: column;
            justify-content: center;         
            
            transition: .5s;
        }
        
        .mobile-menu {
            margin-top: 0;
        }*/
}