
@media (max-width: 600px) {
    .logo {
            font-size: 5vw;
        }
    
        .logo-desc {
            font-size: 2vw;
        }

    .hero {
        flex-direction: column;
        justify-content: center;
    }

    .hero-media {
        display: none;
    }

    .hero-content h1{
        font-size: 15vw;
        margin-top: 50vh;
        margin-left: 1vw;        
    }

    .hero-content p {
        font-size: 8vw;
        font-weight: 600;
        width: 50%;
        margin-top: 5vh;
        margin-left: 1vw;
        word-break: break-all;
        
    }

   
}