@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Crimson+Text:wght@400;600;700&family=Dancing+Script&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --black: #020e04;
    --orange: #f2bf97;
    --white: #f7f6f3;
    --transparent: #f7f6f300;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Bacasime Antique', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: inherit;
}

/*menu*/
.nav-style {
    width: 100%;
    height: 25vh;
   
    color: var(--black);
    padding: 0 5vw; 
}

.nav-logo {
    max-width: 20%;
    height: auto;
}

.menu-item {
    font-size: 1.8vw;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.list-item {
    padding: 1vw;
}


/*
.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin: 0 4vw;
}

.menu-item {
    font-size: 1.5vw;
    color: var(--beige);
}

#menu1,
#menu2 {
    color: var(--beige);
}

.nav-menu-btn {
    color: var(--black);
}


.btn {
    background-color: var(--transparent);
    color: var(--black);
    font-size: 0.8em;
    font-weight: 400;
    padding: 0.5vw 1.5vw;
    border-radius: 15px;
    transition: 0.5s;
    text-transform: uppercase;
}

#menu-btn {
    font-size: 5vh;
    cursor: pointer;
    position: absolute;
    right: 4vh;
    color: var(--beige);
    margin-top: 8vh;
    display: none;
}

#nav-btn {
    color: var(--brown);
}
*/




