@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Josefin Sans', sans-serif;
    --black: #0d0c12;
    --grey: #eeeff1;
    --white: rgb(255, 255, 255);
    --gold: rgb(229, 186, 115);
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: inherit;
}

/*menu*/
.nav-bar {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: var(--gold);
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;    
}

.logo h1 {
    font-size: 5.5vh;
    font-weight: 400;
}

.logo-line {
    
    border: 1px solid;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    padding: 0 2vw;
}

.menu-item {
    font-size: 3.5vh;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}

#menu-btn {
    font-size: 5vh;
    cursor: pointer;
    position: absolute;
    right: 4vh;
    color: var(--white);
    margin-top: 8vh;
    display: none;
}

/*
.btn {
    background-color: var(--beige);
    color: var(--brown);
    font-size: 0.8em;
    font-weight: 400;
    padding: 0.5vw 1.5vw;
    border-radius: 15px;
    transition: 0.5s;
    text-transform: uppercase;
}
*/

/*menu*/

/*header*/
.hero {
    width: 100%;
    height: 80vh;
    background-image: url(../images/tamara-bellis-ZvPoZtY-0ng-unsplash.jpg);
    background-size: cover;
}

/*header*/




