@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Crimson+Text:wght@400;600;700&family=Dancing+Script&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #020e04;
    --orange: #f3caab;
    --white: #f7f6f3;
    --transparent: #f7f6f300;
    --light-orange: #f5d8c3;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Bacasime Antique', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: inherit;
}

/*menu*/

.logo-set {
    font-family: 'Crimson Text', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
}

.logo {
    font-weight: 400;
    font-size: 3vw;    
}

.logo-desc {
    font-weight: 400;
    font-size: 1.5vw;
}

.menu-item {
    font-size: 1.2vw;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

.menu-item:hover {
    color: var(--orange);
}

.menu-btn {
    color: var(--black);
}
/*menu*/

/*header*/
.hero {
    background-image: url(../images/tamara-bellis-UStm96v3mPI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:end;
}

.hero-content h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 6vw;
    margin-right: 5vw;
    margin-top: 30vh;
    color: var(--white);
}

.hero-content p {
    font-family: 'Crimson Text', serif;
    font-size: 2vw;
    color: var(--black);
}

#hero-license {
    font-size: 0.3vw;
}
/*header*/


/*gallery*/
.grid-container {
    width: 80%;
    height: 80vh;
    margin: 5vh auto;
    display: grid;
    grid-template-areas:
        "grid-item1 grid-item2 grid-item3 grid-item4"
        "grid-item5 grid-item6 grid-item7 grid-item8";
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;   
}

.line {
    width: 15%;
    height: 0.5vh;
    background-color: var(--black);
    margin: 7vh auto;
    border-radius: 2px;
}

.white-line {
    width: 15%;
    height: 0.5vh;
    background-color: var(--white);
    margin: 7vh auto;
    border-radius: 2px;
}

.grid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-title {
    font-family: 'Crimson Text', serif;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 400;
}

.grid-btn {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 200;
}

.btn-orange:hover {
    color: var(--orange);
}

.btn-white:hover {
    color: var(--white);
}


.grid-item1 {
    grid-area: grid-item1;
    background-color: var(--orange);
    color: var(--black);
}

.grid-item2 {
    grid-area: grid-item2;
    background-image: url(../images/Photo\ by\ Adam\ Winger\ on\ Unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.grid-item3 {
    grid-area: grid-item3;
    background-color: var(--black);
    color: var(--white);
}

.grid-item4 {
    grid-area: grid-item4;
    background-image: url(../images/Photo\ by\ Amy\ Shamblen\ on\ Unsplash.jpg);
    background-size: cover;
    background-position: center;
}


.grid-item5 {
    grid-area: grid-item5;
    background-image: url(../images/Photo\ by\ Chelson\ Tamares\ on\ Unsplash2.jpg);
    background-size: cover;
    background-position: center;
}

.grid-item6 {
    grid-area: grid-item6;
    background-color: var(--white);
    color: var(--black);
}

.grid-item7 {
    grid-area: grid-item7;
    background-image: url(../images/Photo\ by\ Rikonavt\ on\ Unsplash2.jpg);
    background-size: cover;
    background-position: center;
}

.grid-item8 {
    grid-area: grid-item8;
    background-color: var(--orange);
    color: var(--black);
}
/*gallery*/

/*services*/
.services {
    background-color: var(--light-orange);
    width: 100%;
    height: 8vh;
    font-family: 'Crimson Text', serif;
    font-size: 6vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
        
}

.services p {
    margin: auto 2vh;
    text-transform: uppercase;    
}

.card-container {
    width: 80%;
}

.card-collection {
    gap: 8vw;
}

.card-size {
    max-width: 18rem;
}

.card-size:hover {
    transform: scale(1.1);
    transition: .5s;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vw;
    font-weight: 300;
    margin-top: 2vh;
    margin-left: 1vw;
}

.line-2 {
    width: 100%;
    height: 0.1vh;
    background-color: var(--black);
    margin: 3vh auto;
    border-radius: 2px;
}

.card-image-position {
    object-fit: cover;
    height: 250px;
}

.card-content {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
    font-weight: 300;
}

/*services*/

/*about*/
.about {
    width: 80%;
    max-height: 130vh;
    display: flex;
    flex-direction: row;
    background-color: var(--light-orange);
    margin: 10vh auto;
    align-items: center;
    justify-content: center;
}

.about-content {
    width: 90%;
    padding: 2vmin;
}

.about-content h1 {
    font-family: 'Dancing Script', cursive;
}

.about-content p {
    font-size: 3vmin;
    font-weight: 200;
}

.about-img {
    max-width: 100%;
}

.about-img img {
    max-width: 100%;
}

.about-btn {
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2.5vmin;
    padding: 1vmin;
    border-radius: 5vmin;
    border-style: solid;
}

.about-btn:hover {
    background-color: var(--white);
    color: var(--black);
}
/*about*/

/*footer*/
.footer-content {
    width: 100%;
    max-height: 60vh;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: row;
}

.footer-logo {
    color: var(--white);
}

.social-logo {
    width: 2em;
}
/*footer*/